html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(66, 102, 55);
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

nav {
    display: block;
    width: 100%;
}

nav ul {
    list-style: none;
}

nav a {
    color: white;
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: large;
    text-decoration: none;
}

img.splash {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

div.home {
    border-radius: 1em;
    filter: drop-shadow(10px 5px 2px darkgreen);
    display: flex;
    flex-wrap: wrap;
    margin: 2em;
    margin-left: auto;
    margin-right: auto;
    width: min(90%, 65em);
    background-color: rgb(225, 232, 202);
}

div.homecontent {
    text-align: center;
    line-height: 150%;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
