:root {
    --main-bg-color: white;
    --main-text-color: rgb(66, 102, 55);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    scroll-behavior: smooth;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: var(--main-text-color);
}

img {
    display: block;
    width: min(80%, 50em);
    margin-left: auto;
    margin-right: auto;
}

img.splash {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

div.coverimage {
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
    height: 15vh;
    width: 100%;
}

h2#homedate {
    text-decoration: underline;
}

h2.subtle {
    font-weight: normal;
}

div.content h1 {
    position: sticky;
    top: 0px;
    padding: 15px;
    background-color: var(--main-bg-color);
    text-transform: uppercase;
}

div.content h1 a {
    text-decoration: none;
    color: var(--main-text-color);
}

div.prose {
    text-align: left;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.75em;
}

div.content {
    text-align: center;
    line-height: 150%;
    margin: 0;
    padding: 0;
}
